


body {	
		color:green;
		font-weight:bold;
		background-image:url("lime.png");
		background-repeat:repeat-x;
		
}

h1 {
  color: green;
  font-family: "Titan One", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform:lowercase;
  font-size:90px;
  text-align:center;
} 

h2 {color: #341C02;
	font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform:lowercase;
  font-size:30px;
}

.meals p
	{text-align:center;
	color:#341C02;
	font-family: "Inter", sans-serif;
  	font-weight: normal;
  	font-style: normal;
  	width: 70px;
  	border: 5px solid green;
  	padding: 15px;

	}
.meals 
{ 	text-align:center;
 }

.description 
	{font-family: "Inter", sans-serif;
	color:#341C02;
	font-weight: normal;


	 }
.list
{font-family: "Inter", sans-serif;
	text-transform: lowercase;

 }





 
  
