


body {	
		color:green;
		
		
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #654321;
}

.nav-link {
	color:#654321;

} 

.btn-primary {
	background-color:green;
	justify-content:center;


} 
h3{
	color:#654321;
	background-color:white;
	color: green;
  
}

p{
	color:#654321;
	background-color:white;
 }
.start {

	margin:25px;
}

.card {

	margin:50px;
}



nav{
	margin-top:70px !important;
}
h1 {
  color: green;
  font-family: "Titan One", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform:lowercase;
  font-size:90px;
  text-align:center;
} 

h2 {color: #341C02;
	font-family: "Inter", sans-serif;
  font-style: normal;
  
  font-size:30px;
  background-color:white;
  text-align:center;
  margin:25px;
}

.meals p
	{text-align:center;
	color:#341C02;
	font-family: "Inter", sans-serif;
  	font-weight: normal;
  	font-style: normal;
  	width: 70px;
  	border: 5px solid green;
  	padding: 15px;

	}
.meals 
{ 	text-align:center;
 }

.description 
	{font-family: "Inter", sans-serif;
	color:#341C02;
	font-weight: normal;


	 }
.list
{font-family: "Inter", sans-serif;
	text-transform: lowercase;

 }





 
  
